*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.chart{
    background-image:hsl(180, 46%, 88%);
    height: 800px;
    background-size: cover;
}

.btn-darkmode{
  background-color: cadetblue;
  border: none;
  padding: 20px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-darkmode:hover{
  background-color: #366668;
}

/*Darkmode style*/

.darkmode{
  background-color: #000;
  color: #fff;
}