/*
  GROUP: Lulu Fokming, Francisco Reyes, Anri Ferris
  Author: Lulu Fokming
  DATE 9/30/2022  
  DESCRIPTION: This is ISM6225.360F22  Assignment2
*/

* {
  box-sizing: border-box;
}
/* Header*/
.service-header{
  text-align: center;
  /*font-size: 20px;*/
  padding: 2px;
  height: auto;
}

.service-header h2{
  font-size: 40px;
  color: teal;
  padding: 0;
  margin: 0;
  padding: 0;
}

.service-header p{
  font-size: 20px;
  color: #504c4c;
  margin-top: 5px;
  padding: 0;
}

.service-slide-container {
  width:90%;
  position: relative;
  margin: auto;
}
 
.service-slide {
  display: none;
  width: 100%;
}


.service-container{
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
  padding: 5px;
  background-color: #f2f2f3;
}

.service-container h3{
  padding: 2px;
  color:#1488cc;
}


.service-img-inner{
  display: block;
  margin: 0 auto;
  width: 45%;
  height: 45%;
}

.service-img-inner img {
  width: 100%;
  height: 100%;
  margin: auto auto;
}

.service-container-inner a{
  font-size: 80%;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  width: auto;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: #C0C0C0;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* on hover over for arrows, background color will show to be able to view the next and previous arrows*/
.prev:hover, .next:hover {
  background-color:  #00b4c5;;
}

/* For the dots for manual navigation of slides */
.dot {
  display: inline-block;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Gives the effect of slide fading in and out. Set timing of the fade in and out */
.fade {
  animation-name: fade;
  animation-duration: 1.3s;
}
/*Gradually move from transparent to less transparent to see the slides*/
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.Service-Contact {
  background-color: #edf2f9!important;
  height: 250px;
  background-size: cover;
  text-align: center;
  margin-top: 20px;
  color: #911a6c;
  }

  .Service-Contact h1{
    padding-top: 20px;
  }

  .service-button
  {
    position: relative;
    padding: 10px 50px;
    margin: 0px 10px 10px 0px;
    float: center;
    border-radius: 10px;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;	
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    transition: all 0.1s;
  }

  .service-button:active
{
	transform: translate(0px,5px);
	border-bottom: 1px solid;
}

/* mobile*/
@media (max-width: 450px) {
  .service-header{
    font-size: 80%;
  }
  .service-container{
    padding: 10px;
    font-size: 80%;
  }
  
  .service-header h2{
    font-size: 100%;
  }
  
  .service-header p{
    font-size: 60%;

  }
  .service-img-inner{
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 90%;
  }
  .Service-Contact {
    height: 90%
    font-size: 60%;
  }
  
  .service-button
  {
    font-size: 80%;
  }
}