{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css')}}"/>
{% endblock %}
{% block js1%}
{% endblock %}
{% block title %}
G10 Home Page
{% endblock %}
{% block menu %}
{% endblock %}
{% block account %}
<a href="#" onclick="openLoginForm()" style="width:auto;">
<img src="{{url_for('static', filename='img/login.png')}}" alt="G10 Login" class="login-img">
</a>
{% endblock %} 
{% block content %}
<section class="main-img">
  <div class="main-container">
    <div class="main-inner"  >
      <div class="main-block">
        <h4>ATHLETES NEED EVERY EDGE THEY CAN GET</h4>
        <p>At G10 we help athletes, coaches and teams grow, maximize their potential, prevent sport injuries, give them an edge and reach their goals by giving them easy access to the right information.</p><br>
        <div class="main-button-container">
          <a class="main-button" href="{{url_for('contactus')}}" target="_blank">Contact Us</a><br>
        </div>
      </div>
    </div>
  </div>


  <!-- Login Modal-->
  <div id="id01" class="modal">
    <div class="popup-overlay"></div>
    <div class="popup">
      <div class="popup-close" onclick="closeLoginForm()">&times;</div>
      <form action="/login" method="POST"> 
        <div class="form">
          <div class="avatar">
            <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="avatar">
          </div>
          <div class="header">
            Member login
          </div>
          <div class="element">
            <label for="username">Username</label>
            <input type="text" id="username" value="" placeholder="" name="username">
          </div>
          <div class="element">
            <label for="password" >Password</label>
            <input type="password" id="password" value="" placeholder="" name="password">
          </div>
          <div class="element">
            <button>Login</button>
          </div>
          <span class="element"> Don't have and account? <a href="#" onclick="openSignupForm()" style="width:auto;">Sign up</a></span>
        </div>
      </form>
    </div>
  </div>

    <!--Signup -->
    <div id="id02" class="modal2" >
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <form class="modal-content" action="/action_page.php">
        <div class="container">
          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
  
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
  
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
  
          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  


</section>
<div class="quote-block">
  <br><h1>G10 DATA LABS</h1><br/> <hr> <br>
  <blockquote>"Sports are watched by millions and millions  of people - yet, pretty much all of the strategic decisions are made by humans in a split second. These decisions could definitely be enhanced by learning from past data, but humans can't keep large databases in their heads. Thus, predictive analytics tools will help teams make these decisions. If we know, for instance, that in certain circumstances, a particular coach on the opposition team tends to make a particular decision, then we can be ready for it"
  </blockquote>
  <span>
   <b class="author">- Cynthia Rudin,</b>
   associate professor of statistics at MIT</p>
  </span>
</div>
{% endblock %}
