<!DOCTYPE html>
<!----
  GROUP: Lulu Fokming, Francisco Reyes, Anri Ferris
  Author: Francisco Reyes, Lulu Fokming
  DATE 10/1/2022  
  DESCRIPTION: This is ISM6225.360F22  Project
-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"/>
  <link rel="icon" type="image/x-icon"   href="{{ url_for('static', filename='img/logo.ico')}}"/>
  <title>{% block title %}{% endblock %}</title>
  {% block css %}{% endblock %}
  {% block js1 %}{% endblock %}
</head>
<body>

  <header id="header">
    <nav class="navbar1">
      <a href="{{url_for('home')}}">
        <img src="{{url_for('static', filename='img/logo.ico')}}" alt="G10 Data Service" class="logo-img">
      </a>
           <ul class="nav-menu">
               {% block menuhome %}{% endblock %} 
               <li class="nav-item">
                   <a href="{{url_for('services')}}" class="nav-link1">SERVICES</a>
               </li>
               {% block menu %}{% endblock %} 
               <li class="nav-item">
                   <a href="{{url_for('about')}}" class="nav-link1">ABOUT US</a>
               </li>
               <li class="nav-item">
                <a href="{{url_for('contactus')}}" class="nav-link1">CONTACT US</a>
            </li>
           </ul>
           {% block login %}{% endblock %} 
           <div class="hamburger">
               <span class="bar"></span>
               <span class="bar"></span>
               <span class="bar"></span>
           </div>
       </nav>
   </header>
   <div class="tophead">

  </div>

  {% block content %}
  {% endblock %}
  
  <!-- Footer-->
  <footer class="footer">
    <div class="grid-3">
      <div>
        <span> &copy; 2022 All rights reserved!</span>
      </div>

      <div class="footer-company">
         <a href="{{url_for('home')}}">
            <img src="{{url_for('static', filename='img/logo.ico')}}" alt="G10 Data Labs" class="logo-img">
         </a><br>
          <h> G10 Data Labs</h3<br>
          <p>Insights for measureable performance improvements.</p>
      </div>

      <div class="footer-menu">
        <a href="{{url_for('home')}}">Home</a><br>
        <a href="{{url_for('services')}}">Services</a><br>
        <a href="{{url_for('about')}}">About Us</a><br>
        <a href="{{url_for('contactus')}}">Contact Us</a> 
      </div>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/nav.js')}}"></script>
  <script src="{{ url_for('static', filename='js/login.js')}}"></script>
  <script src="{{ url_for('static', filename='js/signup.js')}}"></script>
  {% block js2 %}{% endblock %}
  
</body>

</html>